* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Variables para reutilizar colores y tamaños
$colorFooter: #1E2B38;
$colorPrimary: #4A93E7;
$colorSecondary: #5a5a5a;
$colorShadow: #3c5976;
$colorBorder: #444;
$colorBackground: white;
$shadowSize: 2px;
$colorWhite: white;

/* -- Estilos Generales -- */
.container {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80%;
    margin: 0 auto;
}


header {
    width: 100%;
    height: 540px;
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;

    .menu {
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        height: 75px;
        justify-content: space-around;
        backdrop-filter: blur(3.5px) brightness(1.2);
        background-color: rgba(44, 41, 41, 0.504);
        z-index: 100;

        .logo {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 25px;

            img {
                height: 70px;
            }

            .titleMenu {
                font-size: 35px;
                background: linear-gradient(45deg, #21aabb, #ffaf00, #264982, #FF6347);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

        }

        ul {
            display: flex;
            align-items: center;
            gap: 30px;

            li {
                list-style: none;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                    letter-spacing: 2px;
                    text-shadow: 2px 2px 4px #444, 2px 2px 4px #444, 2px 2px 4px #444, 2px 2px 4px #444, 2px 2px 4px #444, 2px 2px 4px #444;
                    transition: all 300ms;

                    &:hover {
                        text-shadow: none;
                        background: linear-gradient(to right, #21aabb, #ffaf00, #264982, #FF6347);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        display: inline-block;
                        transform: scale(1.2);
                        transform-origin: center;
                    }

                }
            }
        }
    }

    .boxheader {
        //background: lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        //height: 390px;
        height: 540px;

        .textBox {
            padding: 25px;
            text-align: center;
            justify-content: center;
            width: 300px;
            height: auto;
            border: 1px solid white;
            border-radius: 10px;
            font-size: 25px;

            .titleBox {
                color: white;
            }

            .descriptionBox {
                margin-top: 25px;
                font-size: 18px;
                font-weight: 500;
                color: white;
            }

        }
    }

    .headerProfile {
        display: flex;
        align-items: center;
        justify-content: center;
        //height: 150px;
        height: 0px;

        img {
            height: 100px;
        }
    }
}

main {
    .about {
        margin-top: 70px;
        margin-bottom: 70px;
        padding: 25px;

        .aboutTitle {
            text-align: center;
            color: #ffaf00;
            text-transform: uppercase;
            font-size: 25px;
            margin-bottom: 20px;
        }

        .aboutDescription {
            color: #264982;
            text-align: justify;
        }
    }

    /* --- Cards --- */
    // Estilos de las tarjetas
    .cards {
        .tituloTrabajos {
            text-align: center;
            font-size: 25px;
            text-transform: uppercase;
            color: $colorPrimary;
            margin-bottom: 25px;
        }

        .contenidoCard {
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }

        .card {
            width: 240px;
            height: auto;
            border: 1px solid $colorBorder;
            background: $colorBackground;
            border-radius: 10px;
            box-shadow: -$shadowSize $shadowSize $shadowSize darken($colorShadow, 40%);
            /* box-shadow: 2px 2px 2px #1E2B38; */
            overflow: hidden;
            cursor: pointer;
            transition: 0.4s all ease;

            &:hover {
                transform: translateY(-$shadowSize);
                /* box-shadow: $shadowSize $shadowSize $shadowSize $colorShadow; */
                box-shadow: 2px 2px 2px #1E2B38;
            }

            .foto {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .des {

                h3,
                p {
                    text-align: center;
                    padding: 10px;
                }

                h3 {
                    color: $colorPrimary;
                }

                p {
                    color: $colorSecondary;
                }
            }
        }
    }
}

.mapbg {
    width: 100%;
    background: #1E2B38;
    margin-top: 50px;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: #21aabb;
    padding: 25px;
    margin-bottom: 50px;

    .titleMap {
        font-size: 30px;
        color: $colorWhite;
        padding: 15px;
    }
}

.footerInfo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 75px;
    color: $colorWhite;

    section {
        max-width: 250px;
        width: 250px;
        height: auto;
    }

    .imgFooter {
        a {
            img {
                width: 100px;
            }
        }
    }

    .refInfo>h3,
    p {
        padding: 10px;
    }

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    background: $colorFooter;

    span {
        padding: 25px;
        font-size: 20px;
        color: $colorWhite;
        border-top: 1px solid $colorWhite;
    }
}

/* footer {
    background: #444;
    width: 100%;
    margin-top: 75px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background: #1E2B38;
    padding: 10px;
    color: white;
    font-size: 20px;
} */



/* Card Categorias */
.cardCategory {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 75px;
    background: #182033;

    .container {
        display: flex;
        flex-direction: row;

        .titleCardCategory {
            padding: 15px;
            color: $colorWhite;
            text-align: center;
            font-size: 30px;
            font-weight: normal;
        }

        .category {
            display: flex;
            flex-direction: column;
            max-width: 250px;
            background: #4A93E7;
        }
    }
}